.section-wrapper {
    max-width: 1322px;
    margin: 0 auto;
}

.filial-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    position: relative; 
    margin-top: 35px; 
}

.left-section {
    display: flex;
    flex-direction: column;
    margin-left: 0; 
}

.right-section {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 0; 
}

.about-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.about-header img {
    height: 45px;
    margin-top: 101px;
    margin-left: 22px;
    z-index: 2;
}

.about-header h2 {
    margin-top: 92px;
    margin-left: 25px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 107%;
    letter-spacing: -0.04em;
    color: #fff;
}

.first-filial {
    display: flex;
    flex-direction: row;
    margin-left: 62px;
}

.filial-address p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 107%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;
    background: transparent;
    margin-top: 3px;
}

.filial-address { 
    height: 22px;
    width: 206px;
    border-radius: 75px;
    background: linear-gradient(146deg, #00e400 0%, #00b304 70.71%, #009e05 100%);
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    margin-left: -255px;
    margin-top: 279px;
}

.sup-first-text {
    margin-left: 62px;
    border-radius: 21px;
    height: 310px;
    width: 300px;
    font-family: var(--font-family);
    background: linear-gradient(358deg, #2a2a2a 0%, rgba(220, 220, 220, 0.17) 100%);
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fff;
}

.sup-first-text p {
    background: transparent;
    margin-left: 20px;
    margin-top: 24px;
}

.sup-first-text p::first-line {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 32px;
    line-height: 68%;
    letter-spacing: -0.05em;
    color: #fff;
}

.sup-empty-blocks {
    display: flex;
    flex-direction: row;
    margin-left: 49px;
}

.empty-block {
    border-radius: 21px;
    width: 147px;
    height: 147px;
    margin-left: 12.5px;
    margin-top: 13px;

    background: linear-gradient(358deg, rgba(255, 255, 255, 0.3) 0%, rgba(153, 153, 153, 0.3) 100%);
}

.empty-block img {
    border-radius: 13px;
    width: 147px;
    height: 147px;
}

.empty-block-2 img {
    border-radius: 13px;
    width: 147px;
    height: 147px;
}

.second-filial {
    display: flex;
    flex-direction: row;
    margin-left: 62px; 
}

.sup-second-text {
    margin-left: 62px;
    border-radius: 21px;
    height: 310px;
    width: 300px;
    font-family: var(--font-family);
    background: linear-gradient(358deg, #2a2a2a 0%, rgba(220, 220, 220, 0.17) 100%);
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fff;
}

.sup-second-text p {
    background: transparent;
    margin-left: 20px;
    margin-top: 24px;
}

.sup-second-text p::first-line {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 32px;
    line-height: 68%;
    letter-spacing: -0.05em;
    color: #fff;
}

.sup-second-empty-blocks {
    display: flex;
    flex-direction: row;
    margin-left: 49px; 
}

.empty-block-2 {
    border-radius: 21px;
    width: 147px;
    height: 147px;
    margin-left: 12.5px;
    margin-top: 13px;

    background: linear-gradient(358deg, rgba(255, 255, 255, 0.3) 0%, rgba(153, 153, 153, 0.3) 100%);
}
