.h1-perms h1{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 107%;
    letter-spacing: -0.04em;
    color: #fff;
    display: flex;
    margin-top: 18px;
    margin-left: 63px;
    z-index: 1;
}

.six-blocks {
    margin-top: -91px;
}
/* блок 1 */

.block-1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
    width: 294px;
    height: 55px;
    border-radius: 12px;
    margin-left: 61px;
    align-items: center;
    justify-content: center;
    margin-top: 91px;

    font-family: var(--font-family);
    font-weight: 300;
    font-size: 15px;
    
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    background: #3a3a3a;
}

.block-1 p{
    background: transperent;
    background-color: rgb(58, 58, 58);
    margin-left: 19px;
}


.supblock-1 {
    display: flex;
    width: 59px;
    height: 55px;
    justify-content: center;

    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
    background: rgba(108, 108, 108, 0.42);
    position: absolute;
    left: 61px;
    border-radius: 12px;
}

.block-1 p::first-line {
    font-weight: 600;
}

/* блок 2 */

.block-2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
    width: 294px;
    height: 55px;
    border-radius: 12px;
    margin-left: 61px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    font-family: var(--font-family);
    font-size: 15px;
    
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    background: #3a3a3a;
}

.block-2 p{
    background: transperent;
    background-color: rgb(58, 58, 58);
    margin-left: 9px;
}

.supblock-2 {
    display: flex;
    width: 59px;
    height: 55px;

    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
    background: rgba(108, 108, 108, 0.42);
    position: absolute;
    left: 61px;
    border-radius: 12px;
}

.block-2 p::first-line {
    font-weight: 600;
}


/* блок 3 */

.block-3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
    width: 294px;
    height: 55px;
    border-radius: 12px;
    margin-left: 61px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    font-family: var(--font-family);
    font-size: 15px;
    
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    background: #3a3a3a;
}

.block-3 p{
    background: transperent;
    background-color: rgb(58, 58, 58);
    margin-left: 19px;
}

.supblock-3 {
    display: flex;
    width: 59px;
    height: 55px;

    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
    background: rgba(108, 108, 108, 0.42);
    position: absolute;
    left: 61px;
    border-radius: 12px;
}

.block-3 p::first-line {
    font-weight: 600;
}

 
/* блок 4 */

.block-4 {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
    width: 294px;
    height: 55px;
    border-radius: 12px;
    margin-left: 375px;
    align-items: center;
    justify-content: center;
    margin-top: -185px;

    font-family: var(--font-family);
    font-size: 15px;
    
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    background: #3a3a3a;
}

.supblock-4 {
    display: flex;
    width: 59px;
    height: 55px;

    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
    background: rgba(108, 108, 108, 0.42);
    position: absolute;
    left: 375px;
    border-radius: 12px;
}

.block-4 p{
    background: transperent;
    background-color: rgb(58, 58, 58);
    position: absolute;
    left: 449px;
}

.block-4 p::first-line {
    font-weight: 600;
}

/* блок 5 */

.block-5 {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
    width: 294px;
    height: 55px;
    border-radius: 12px;
    margin-left: 375px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    font-family: var(--font-family);
    font-size: 15px;
    
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    background: #3a3a3a;
}

.supblock-5 {
    display: flex;
    width: 59px;
    height: 55px;

    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
    background: rgba(108, 108, 108, 0.42);
    position: absolute;
    left: 375px;
    border-radius: 12px;
}

.block-5 p{
    background: transperent;
    background-color: rgb(58, 58, 58);
    position: absolute;
    left: 449px;
}

.block-5 p::first-line {
    font-weight: 600;
}

/* блок 6 */

.block-6 {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
    width: 294px;
    height: 55px;
    border-radius: 12px;
    margin-left: 375px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    font-family: var(--font-family);
    font-size: 15px;
    
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    background: #3a3a3a;
}

.supblock-6 {
    display: flex;
    width: 59px;
    height: 55px;

    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
    background: rgba(108, 108, 108, 0.42);
    position: absolute;
    left: 375px;
    border-radius: 12px;
}

.block-6 p{
    background: transperent;
    background-color: rgb(58, 58, 58);
    position: absolute;
    left: 449px;
}

/* почему мы, наши преищуества */

.why-we {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: #fff;

    margin-left: 63px;
    margin-top: 37px;
}

.description-why-we {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 11px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: #fff;
    margin-top: 22px;
    margin-left: 62px;
}

.bold-why-we {
    font-weight: 600;
}

/* ебучие билетики */

.special-blocks {
    display: flex;
}