.block-popa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    width: 294px;
    height: 55px;
    border-radius: 12px;
    margin-left: 61px;

    padding-left: 60px;
    margin-bottom: 8px;
}

.block-popa p{
    background: transparent;
}