.block {
    border-radius: 26px;
    width: 154px;
    height: 155px;
    background-color: #3A3A3A;
    text-align: center;

    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.25);

}

.block:hover {
    scale: 1.05;
    transition: all 0.3s
}

.block h1 {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 107%;
    letter-spacing: -0.05em;
    color: #fff;
    background: transparent;
    margin-top: 17px;
}

.block h2 {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 107%;
    letter-spacing: -0.05em;
    color: #fff;
    background: transparent;
}

.logo-main {
    padding-top: 110px;
    margin-left: 60px;
    background: transparent;
}

.main-page {
    width: 100vw;
    height: 100vh;
    background: url("../../assets/img/bg-main.png");
    background-position: center -70px;
    background-size: cover;
    background-repeat: no-repeat;
}

.categ {
    display: flex;
    margin-left: 60px;
    background: transparent;
    flex-wrap: wrap;
    width: 324px;
}

.form {
    border-radius: 26px;
    width: 260px;
    height: 320px;
}

.plits {
    background: transparent;
    display: flex;
    align-items: center;
}

.form-zapis {
    background: transparent;
}

.form-zapis button {
    background: linear-gradient(90deg, #00e400 0%, #00ba06 101%);
    border-radius: 50px;
    width: 229px;
    height: 27px;
    border: none;

    margin-top: 32px;
}

.category-select {
    padding-left: 10px;
    background: #424242;
    border-radius: 18px;
    width: 246px;
    height: 33px;
    font-family: var(--font-family);

    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 107%;
    letter-spacing: -0.05em;
    color: #ffffff;

    border: none;

    margin-top: 5px;
}

.form-input {
    padding-left: 10px;
    border-radius: 18px;
    width: 246px;
    height: 33px;
    border: none;
    background: #424242;
    margin-top: 5px;
}

.form-input::placeholder {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 107%;
    letter-spacing: -0.05em;
    color: #6c6c6c;
}

.form-group {
    background: transparent;
}

.form-group p {
    background: transparent;
    text-align: left;
    margin-left: 8px;

    font-family: var(--font-family);
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 107%;
    letter-spacing: -0.05em;
    color: #fff;

    margin-top: 10px;
}

.agreement-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 8px;
    line-height: 122%;
    letter-spacing: -0.05em;
    color: #cbcbcb;
    text-align: left;
    margin-left: 1rem;
    margin-top: 8px;
    background-color: transparent;
}

.adres {
    border: 0.73px solid #fff;
    border-radius: 37px;
    width: 462px;
    height: 33px;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.metro {
    background: transparent;
    display: flex;
    align-items: center;

    margin-top: 100px;
}

.adres p .metro p{
    background: transparent;
}

.adres p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 90%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;
}

.metro p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;
    margin-left: 6px;
}

.info-mesto {
    display: flex;
    flex-direction: column;
    background: transparent;

    margin-left: 60px;
}