.nav-el a {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 122%;
    letter-spacing: -0.05em;
    color: #aeaeae;

    margin-left: 32px;
    margin-right: 32px;

    background: transparent;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 61px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;

    background: #212121c3;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-sa img {
    height: 36px;

    background: transparent;
}

.nav-el a:hover {
    color: #fff;
    transition: all 0.5s;

    background: transparent;
}

.nav-el {
    background: transparent;
}

.logo-sa {
    background: transparent;
}