#naves {
    border-radius: 34px;
    width: 480px;
    height: 640px;
}

#naves h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: -.05em;
    color: #fff;
    background: transparent;
}

#ss {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 19px;
    line-height: 107%;
    letter-spacing: -0.05em;
    color: #fff;
    background: transparent;
    margin-top: -10px;
    margin-bottom: 5px;
}

.btm-zapis {
    background: transparent;
    margin-left: 30px;
}

.social-nw {
    background: transparent;
}

.zapis input {
    border-radius: 23px;
    width: 416px;
    height: 43px;
}

.zapis select {
    border-radius: 23px;
    width: 418px;
    height: 43px;
}

#agr-txt {
    font-size: 15px;
    margin-left: 33px;
}

#zps-btn {
    border-radius: 64px;
    width: 416px;
    height: 38px;
}

#naves:hover {
    scale: 1.001;
    transition: all 0.1s;
}

#txt-zps {
    font-size: 16px;
    margin-left: 35px;
}

#ee {
    margin-right: 155px;
}

#ss {
    margin-right: 228px;
}

#hh {
    margin-right: 132px;
    margin-top: 30px;
}

.social-net {
    display: flex;
    justify-content: flex-start;
    background: transparent;
    margin-left: -10px;
}

.social-net a {
    margin-left: 10px;
    margin-right: 10px;
}