.top-cards-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-top: 1.4rem;
}

.schledule {
    border-radius: 22px;
    width: 380px;
    height: 158px;
    background: linear-gradient(358deg, rgb(45, 45, 45) 0%, rgb(57, 57, 57) 100%);
    padding-left: 20px;
}

.schledule h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 68%;
    letter-spacing: -0.05em;
    color: #fff;

    background: transparent;
    margin-top: 1rem;
}

.schledule p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 209%;
    background: transparent;
}

.schledule ul {
    margin-top: 15px;
    margin-left: 15px;
}

.schledule span {
    font-weight: 600;
    font-size: 14px;
    line-height: 209%;
    font-family: var(--font-family);
    line-height: 68%;
    letter-spacing: -0.05em;
    color: #fff;
}

.schledule li {
    margin-top: -6px;
}

ul li {
    background: transparent;
}

ul {
    background: transparent;
}

span {
    background: transparent;
}

.time {
    border-radius: 22px;
    width: 278px;
    height: 158px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(358deg, rgb(45, 45, 45) 0%, rgb(57, 57, 57) 100%);
    padding-left: 20px;
}

.time h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 68%;
    letter-spacing: -0.05em;
    color: #fff;
    background: transparent;

    margin-top: 1rem;
}


.time ul {
    margin-top: 15px;
    margin-left: 15px;
}

.time p {
    font-family: var(--font-family);
    line-height: 68%;
    letter-spacing: -0.05em;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    background: transparent;
}

.time span {
    font-weight: 600;
    font-size: 14px;
    line-height: 209%;
    font-family: var(--font-family);
    line-height: 68%;
    letter-spacing: -0.05em;
    color: #fff;
}

.time li {
    margin-top: 6px;
}

.duration {
    border-radius: 22px;
    width: 278px;
    height: 158px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(358deg, rgb(45, 45, 45) 0%, rgb(57, 57, 57) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.duration-div h1 {
    background: transparent;
}

.duration-div {
    border-radius: 94px;
    width: 201px;
    height: 48px;
    background: linear-gradient(358deg, rgba(83, 83, 83, 0.75) 0%, rgba(45, 45, 45, 0.795) 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.duration-div h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 68%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;
    
    transform: translateY(4px);
}

.title-duration {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 83%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;

    margin-top: 1rem;

    background: transparent;
}

.time-learning {
    border-radius: 22px;
    width: 278px;
    height: 158px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(358deg, rgb(45, 45, 45) 0%, rgb(57, 57, 57) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-learning h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 83%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;
    margin-top: 1rem;
    background: transparent;
}

.time-dur-div {
    border-radius: 94px;
    width: 201px;
    height: 48px;
    background: linear-gradient(358deg, rgba(83, 83, 83, 0.75) 0%, rgba(45, 45, 45, 0.795) 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.time-dur-div h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 68%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;

    background: transparent;
}

.schledule,
.time,
.duration,
.time-learning {
    margin-left: 18px;
    margin-right: 18px;
}

.bottom-cards-ul {

    background: transparent;
    margin-top: 1.4rem;
    margin-left: 172px;
}

.hoe {
    border-radius: 22px;
    width: 428px;
    height: 113px;
    background: linear-gradient(358deg, rgb(45, 45, 45) 0%, rgb(57, 57, 57) 100%);

    padding-left: 20px;
}

.hoe span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 68%;
    letter-spacing: -0.05em;
    color: #fff;

    background: transparent;
}

.hoe h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 101%;
    letter-spacing: -0.05em;
    color: #fff;

    padding-top: 1rem;

    background: transparent;
}

.hoe p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fff;
    
    margin-top: 1rem;

    background: transparent;
}